metatype-archivi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:niso="http://www.niso.org/pdfs/DataDict.pdf" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns="http://www.iccu.sbn.it/metaAG1.pdf" xmlns:xlink="http://www.w3.org/TR/xlink" elementFormDefault="qualified" targetNamespace="http://www.iccu.sbn.it/metaAG1.pdf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="./dc.xsd" namespace="http://purl.org/dc/elements/1.1/" />
  <xsd:import schemaLocation="./xlink.xsd" namespace="http://www.w3.org/TR/xlink" />
  <xsd:import schemaLocation="./niso-mag.xsd" namespace="http://www.niso.org/pdfs/DataDict.pdf" />
  <xsd:include schemaLocation="./audio-mag.xsd" />
  <xsd:include schemaLocation="./video-mag.xsd" />
  <xsd:simpleType name="access_rights">
    <xsd:restriction base="xsd:integer">
      <xsd:enumeration value="0">
        <xsd:annotation>
          <xsd:documentation>uso riservato all'interno dell'istituzione</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>uso pubblico</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SICI">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\((\d{4}(/\d{4})?((\d{2})(/(\d{2}|\d{6}))?((\d{2})(/\d{2})?)?)?)?\)((\+|\*)?|(\d{1,4}(:(\d{1,4})(/\d{1,4})?(\+|\*)?)?(:(\d{1,4})(/\d{1,4})?(\+|\*)?)?(:(\d{1,4})(/\d{1,4})?(\+|\*)?)?)?)?" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BICI">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{1,3}(:\d{1,4}(:\d{1,4})?)?" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="completeness">
    <xsd:restriction base="xsd:integer">
      <xsd:enumeration value="0">
        <xsd:annotation>
          <xsd:documentation>digitalizzazione completa</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>digitalizzazione parziale</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="bibliographic_level">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="a">
        <xsd:annotation>
          <xsd:documentation>analitico</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="m">
        <xsd:annotation>
          <xsd:documentation>monografia</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="s">
        <xsd:annotation>
          <xsd:documentation>pubblicazione in serie</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="c">
        <xsd:annotation>
          <xsd:documentation>raccolta</xsd:documentation>
        </xsd:annotation>
	  <xsd:enumeration value="f">
		<xsd:annotation>
			<xsd:documentation>file, unita' archivistica</xsd:documentation>
		</xsd:annotation>
	  </xsd:enumeration>
	<xsd:enumeration value="d">
		<xsd:annotation>
			<xsd:documentation>document, unita' documentaria</xsd:documentation>
		</xsd:annotation>
    </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SBN">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="BNI">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="IMSS">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="resource_type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="img" />
      <xsd:enumeration value="audio" />
      <xsd:enumeration value="video" />
      <xsd:enumeration value="ocr" />
      <xsd:enumeration value="doc" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="img_group">
    <xsd:sequence>
      <xsd:element name="image_metrics" type="niso:spatialmetrics" />
      <xsd:element minOccurs="0" name="ppi" type="xsd:positiveInteger" />
      <xsd:element minOccurs="0" name="dpi" type="xsd:positiveInteger" />
      <xsd:element name="format" type="niso:format" />
      <xsd:element minOccurs="0" name="scanning" type="niso:image_creation" />
    </xsd:sequence>
    <xsd:attribute name="ID" type="xsd:ID" />
  </xsd:complexType>
  <xsd:complexType name="audio_group">
    <xsd:sequence>
      <xsd:element name="audio_metrics" type="audio_spatialmetrics" />
      <xsd:element name="format" type="audio_format" />
      <xsd:element minOccurs="0" name="transcription" type="audio_creation" />
    </xsd:sequence>
    <xsd:attribute name="ID" type="xsd:ID" />
  </xsd:complexType>
  <xsd:complexType name="video_group">
    <xsd:sequence>
      <xsd:element name="video_metrics" type="video_spatialmetrics" />
      <xsd:element name="format" type="video_format" />
      <xsd:element minOccurs="0" name="digitisation" type="video_creation" />
    </xsd:sequence>
    <xsd:attribute name="ID" type="xsd:ID" />
  </xsd:complexType>
  <xsd:complexType name="gen">
    <xsd:sequence>
      <xsd:element name="stprog" type="xsd:anyURI" />
      <xsd:element minOccurs="0" name="collection" type="xsd:anyURI" />
     </xsd:element >
 <xsd:element name="agency" type="xsd:string" />
      <xsd:element name="access_rights" type="access_rights" />
      <xsd:element name="completeness" type="completeness" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="img_group" type="img_group" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="audio_group" type="audio_group" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="video_group" type="video_group" />
    </xsd:sequence>
    <xsd:attribute name="creation" type="xsd:dateTime" use="optional" />
    <xsd:attribute name="last_update" type="xsd:dateTime" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="bib">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" ref="dc:identifier" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="dc:title" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="dc:creator" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="dc:publisher" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="dc:subject" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="dc:description" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="dc:contributor" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="dc:date" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="dc:type" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="dc:format" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="dc:source" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="dc:language" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="dc:relation" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="dc:coverage" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="dc:rights" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="holdings">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="library" type="xsd:string" />
            <xsd:element minOccurs="0" name="inventory_number" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="shelfmark">
              <xsd:complexType mixed="true">
                <xsd:attribute name="type" type="xsd:string" />
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="ID" type="xsd:ID" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="local_bib">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="geo_coord" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="not_date" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="piece">
        <xsd:complexType>
          <xsd:choice minOccurs="0">
            <xsd:sequence>
              <xsd:element name="year" type="xsd:string" />
              <xsd:element name="issue" type="xsd:string" />
              <xsd:element minOccurs="0" name="stpiece_per" type="SICI" />
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="part_number" type="xsd:positiveInteger" />
              <xsd:element name="part_name" type="xsd:string" />
              <xsd:element minOccurs="0" name="stpiece_vol" type="BICI" />
            </xsd:sequence>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="level" type="bibliographic_level" use="required" />
  </xsd:complexType>
  <xsd:complexType name="stru_element">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nomenclature" />
      <xsd:element minOccurs="0" name="file" type="link" />
      <xsd:element minOccurs="0" ref="dc:identifier" />
      <xsd:element minOccurs="0" name="piece">
        <xsd:complexType>
          <xsd:choice minOccurs="0">
            <xsd:sequence>
              <xsd:element name="year" type="xsd:string" />
              <xsd:element name="issue" type="xsd:string" />
              <xsd:element name="stpiece_per" type="SICI" />
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="part_number" type="xsd:positiveInteger" />
              <xsd:element name="part_name" type="xsd:string" />
              <xsd:element name="stpiece_vol" type="BICI" />
            </xsd:sequence>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" default="img" name="resource" type="resource_type">
        <xsd:annotation>
          <xsd:documentation>IMG is the defaulf value</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="start">
        <xsd:complexType>
          <xsd:attribute name="sequence_number" type="xsd:positiveInteger" use="required" />
          <xsd:attribute name="offset" type="xsd:time" use="optional" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="stop">
        <xsd:annotation>
          <xsd:documentation>when omitted, the &lt;start&gt; can be assumed</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="sequence_number" type="xsd:positiveInteger" use="required" />
          <xsd:attribute name="offset" type="xsd:time" use="optional" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="descr" type="xsd:string" use="optional" />
    <xsd:attribute name="num" type="xsd:positiveInteger" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="stru">
    <xsd:annotation>
      <xsd:documentation>the generic &lt;stru&gt; element, that can be nest and is repeatable, gives its uniqueness to the &lt;dc:identifier&gt; included in BIB section and to the &lt;sequence_number&gt; of the different nested levels.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sequence_number" type="xsd:positiveInteger" />
      <xsd:element minOccurs="0" name="nomenclature" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="element" type="stru_element" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="stru" type="stru" />
    </xsd:sequence>
    <xsd:attribute name="descr" type="xsd:string" use="optional" />
    <xsd:attribute name="start" type="xsd:positiveInteger" use="optional" />
    <xsd:attribute name="stop" type="xsd:positiveInteger" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="dis">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="dis_item" type="dis_item" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="dis_item">
    <xsd:sequence>
      <xsd:element name="file" type="link" />
      <xsd:choice minOccurs="0">
        <xsd:element name="preview" type="preview" />
        <xsd:element name="available" type="xsd:anyURI" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="preview">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="thumbnail" />
      <xsd:enumeration value="sample" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="link">
    <xsd:attributeGroup ref="xlink:simpleLink" />
    <xsd:attribute name="Location">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="URN" />
          <xsd:enumeration value="URL" />
          <xsd:enumeration value="URI" />
          <xsd:enumeration value="PURL" />
          <xsd:enumeration value="HANDLE" />
          <xsd:enumeration value="DOI" />
          <xsd:enumeration value="OTHER" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="side">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="left" />
      <xsd:enumeration value="right" />
      <xsd:enumeration value="double" />
      <xsd:enumeration value="part" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="millimetric_scale">
    <xsd:restriction base="xsd:integer">
      <xsd:enumeration value="0" />
      <xsd:enumeration value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="usages">
    <xsd:annotation>
      <xsd:documentation xml:lang="it">Valori consigliati:
1 = master
2 = per uso interno all'istituzione
3 = per diffusione Internet
4 = preview
oppure:
a = il repository non ha il copyright dell'immagine
b = il repository ha il copyright dell'immagine
            </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="img">
    <xsd:sequence>
      <xsd:element name="sequence_number" type="xsd:positiveInteger" />
      <xsd:element name="nomenclature" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="usage" type="usages" />
      <xsd:element minOccurs="0" name="side" type="side" />
      <xsd:element minOccurs="0" name="scale" type="millimetric_scale" />
      <xsd:element name="file" type="link" />
      <xsd:element name="md5" type="niso:checksum" />
      <xsd:element minOccurs="0" name="filesize" type="xsd:positiveInteger" />
      <xsd:element name="image_dimensions" type="niso:dimensions" />
      <xsd:element minOccurs="0" name="image_metrics" type="niso:spatialmetrics" />
      <xsd:element minOccurs="0" name="ppi" type="xsd:positiveInteger" />
      <xsd:element minOccurs="0" name="dpi" type="xsd:positiveInteger" />
      <xsd:element minOccurs="0" name="format" type="niso:format" />
      <xsd:element minOccurs="0" name="scanning" type="niso:image_creation" />
      <xsd:element minOccurs="0" name="datetimecreated" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="target" type="niso:targetdata" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="altimg">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="usage" type="usages" />
            <xsd:element name="file" type="link" />
            <xsd:element name="md5" type="niso:checksum" />
            <xsd:element minOccurs="0" name="filesize" type="xsd:positiveInteger" />
            <xsd:element name="image_dimensions" type="niso:dimensions" />
            <xsd:element minOccurs="0" name="image_metrics" type="niso:spatialmetrics" />
            <xsd:element minOccurs="0" name="ppi" type="xsd:positiveInteger" />
            <xsd:element minOccurs="0" name="dpi" type="xsd:positiveInteger" />
            <xsd:element minOccurs="0" name="format" type="niso:format" />
            <xsd:element minOccurs="0" name="scanning" type="niso:image_creation" />
            <xsd:element minOccurs="0" name="datetimecreated" type="xsd:dateTime" />
          </xsd:sequence>
          <xsd:attribute name="imggroupID" type="xsd:IDREF" use="optional" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="imggroupID" type="xsd:IDREF" use="optional" />
    <xsd:attribute name="holdingsID" type="xsd:IDREF" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="audioproxy">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="usage" type="usages" />
      <xsd:element name="file" type="link" />
      <xsd:element name="md5" type="niso:checksum" />
      <xsd:element minOccurs="0" name="filesize" type="xsd:unsignedLong" />
      <xsd:element name="audio_dimensions" type="audio_dimensions" />
      <xsd:element minOccurs="0" name="audio_metrics" type="audio_spatialmetrics" />
      <xsd:element minOccurs="0" name="format" type="audio_format" />
      <xsd:element minOccurs="0" name="transcription" type="audio_creation" />
      <xsd:element minOccurs="0" name="datetimecreated" type="xsd:dateTime" />
    </xsd:sequence>
    <xsd:attribute name="audiogroupID" type="xsd:IDREF" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="audio">
    <xsd:sequence>
      <xsd:element name="sequence_number" type="xsd:positiveInteger" />
      <xsd:element name="nomenclature" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" name="proxies" type="audioproxy" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="holdingsID" type="xsd:IDREF" use="optional" />
    <xsd:attribute name="audiogroupID" type="xsd:IDREF" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="videoproxy">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="usage" type="usages" />
      <xsd:element name="file" type="link" />
      <xsd:element name="md5" type="niso:checksum" />
      <xsd:element minOccurs="0" name="filesize" type="xsd:unsignedLong" />
      <xsd:element name="video_dimensions" type="video_dimensions" />
      <xsd:element minOccurs="0" name="video_metrics" type="video_spatialmetrics" />
      <xsd:element minOccurs="0" name="format" type="video_format" />
      <xsd:element minOccurs="0" name="digitisation" type="video_creation" />
      <xsd:element minOccurs="0" name="datetimecreated" type="xsd:dateTime" />
    </xsd:sequence>
    <xsd:attribute name="videogroupID" type="xsd:IDREF" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="video">
    <xsd:sequence>
      <xsd:element name="sequence_number" type="xsd:positiveInteger" />
      <xsd:element name="nomenclature" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" name="proxies" type="videoproxy" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="holdingsID" type="xsd:IDREF" use="optional" />
    <xsd:attribute name="videogroupID" type="xsd:IDREF" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="ocr">
    <xsd:sequence>
      <xsd:element name="sequence_number" type="xsd:positiveInteger" />
      <xsd:element name="nomenclature" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="usage" type="usages" />
      <xsd:element name="file" type="link" />
      <xsd:element name="md5" type="niso:checksum" />
      <xsd:element name="source" type="link" />
      <xsd:element minOccurs="0" name="filesize" type="xsd:positiveInteger" />
      <xsd:element name="format" type="niso:docFormat" />
      <xsd:element minOccurs="0" name="software_ocr" type="xsd:string" />
      <xsd:element minOccurs="0" name="datetimecreated" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="holdingsID" type="xsd:IDREF" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="doc">
    <xsd:sequence>
      <xsd:element name="sequence_number" type="xsd:positiveInteger" />
      <xsd:element name="nomenclature" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="usage" type="usages" />
      <xsd:element name="file" type="link" />
      <xsd:element name="md5" type="niso:checksum" />
      <xsd:element minOccurs="0" name="filesize" type="xsd:positiveInteger" />
      <xsd:element minOccurs="0" name="format" type="niso:docFormat" />
      <xsd:element minOccurs="0" name="datetimecreated" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="holdingsID" type="xsd:IDREF" use="optional" />
  </xsd:complexType>
  <xsd:simpleType name="doc_mimetype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="text/plain" />
      <xsd:enumeration value="text/xml" />
      <xsd:enumeration value="text/html" />
      <xsd:enumeration value="text/rtf" />
      <xsd:enumeration value="application/msword" />
      <xsd:enumeration value="application/pdf" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="docFormat">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="mime" type="doc_mimetype" />
      <xsd:element minOccurs="0" name="compression" type="doc_compressiontype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="doc_compressiontype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Uncompressed" />
      <xsd:enumeration value="ZIP" />
      <xsd:enumeration value="RAR" />
      <xsd:enumeration value="GZ" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
